<template>
    <div class="row">
        <div class="col-md-6">
            <div class="row" v-if="products.length">
                <div class="col-md-3">Товар</div>
                <div class="col-md-3">Цена</div>
                <div class="col-md-3">Остаток</div>
            </div>
            <product
                    v-for="(product, id) in products"
                    :key="id"
                    :product="product"
                    :sum="auto.userSum"
                    @buy="productBuy(id)"
            ></product>
        </div>
        <div class="col-md-6">
            <h2>Внесенная сумма: <span v-text="auto.userSum"></span> руб.</h2>


            <h3>Кошелёк пользователя</h3>
            <div class="row">
                <div class="col-md-2" v-for="(coin, index) in user.coins" :key="index">
                    Монета <br/> <span v-text="coin.coin"></span> x <span v-text="coin.quantity"></span>
                    <button class="btn" @click="addCoin(coin.coin)" :disabled="coin.quantity <= 0">Добавить</button>
                </div>
            </div>


            <div v-if="auto.userSum > 0">
                <h3>Доступные монеты для возврата</h3>
                <div class="row">
                    <div class="col-md-2" v-for="(coin, index) in auto.coins" :key="index">
                        Монета <br/> <span v-text="coin.coin"></span> x <span v-text="coin.quantity"></span>
                    </div>
                </div>

                <div>
                    <button class="btn" @click="resetCoin()">Возратить деньги</button>
                </div>
            </div>
        </div>
        <div  class="col-md-12">
            <button class="btn btn-lg btn-danger" @click="init">Сбросить данные до дефолтных значений</button>
        </div>
    </div>
</template>

<script>
    import Product from './Product.vue';

    const errorCall = ({responseJSON}) => {
        if (responseJSON && responseJSON.error) {
            alert(responseJSON.error);
        }
    };

    export default {
        name: 'App',
        data() {
            return {
                products:[],
                user:{},
                auto:{},
                coins: [],
            };
        },

        computed: {

        },

        methods: {
            fetchState() {
                return $.get('/state').then(state => {
                    this.products = state.products;
                    this.user = state.user;
                    this.auto = state.auto;
                    this.coins = state.coins;
                });
            },

            //Добавить монеты
            addCoin(coin) {
                $.post('/coin-add', {coin})
                    .then(null, errorCall)
                    .then(() => this.fetchState());
            },

            //Возвратить деньги
            resetCoin(coin) {
                $.post('/coin-reset')
                    .then(null, errorCall)
                    .then(() => this.fetchState());
            },

            //Инициализация данных
            init() {
                $.post('/init')
                    .then(null, errorCall)
                    .then(() => this.fetchState());
            },

            //Покупка товара
            productBuy(id) {
                $.post('/product-buy', {'product_id' : id})
                    .then(null, errorCall)
                    .then(() => this.fetchState());
            }

        },

        created() {
            this.fetchState();
        },

        components: {
            Product
        }

    }
</script>