<template>

    <div class="row">
        <div class="col-md-3" v-text="product.name"></div>
        <div class="col-md-3" v-text="product.price + ' руб.'"></div>
        <div class="col-md-3" v-text="product.quantity + ' шт.'"></div>
        <div class="col-md-3"><button class="btn btn-primary" @click="buy" :disabled="disabled">Купить</button></div>
    </div>
</template>

<script>
    export default {
        props: ['product', 'sum'],

        computed: {
            disabled() {
                return this.product.quantity < 1;
            }
        },

        methods: {
            buy() {
                this.$emit('buy');
            },
        },

    }
</script>